body{
background-image: url("https://lh3.googleusercontent.com/_Flbcyu18RLIPnHG397yJ7Mw0huOOsIULgZOFod5mzl5-HFqlCi5hthgQNVFCyrrsKMLobZt3LWSmWGtzQALbGUrtOstlwy9P2jPMH6tHQ");
}

.ground{

    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 20px;
}

.menu{
        padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.Intestazione{
    text-align: center;
}

.logo{
    width: 200px;
}

.text-logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(26 223 26);
}



.button{
    background-color: rgb(26 223 26);
    padding: 15px;
    text-align: center;
}



.monopattini{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: white;
}

h2{
    color: white;
}


.caricaG{
    background: rgb(26 223 26);
    width: 500px;
    height: 30px;
    border-radius: 10px;
}


.caricaM{
    background: rgb(77, 90, 77);
    width: 600px;
    height: 30px;
    border-radius: 10px;
    
}

.caricaF{
    background: rgb(69, 109, 218);
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

p:before{
    content: "\27F9";
}